<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:fragment="left">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul  class="layui-nav layui-nav-tree">
            <li class="layui-nav-item" th:classappend="${module.spread?'layui-this':''}" th:each="module,Stat : ${session.menus}">
                <a th:href="${module.url}" th:text="${module.name}">模块</a>
                <dl class="layui-nav-child" lay-unselect th:if="${module.children != null}">
                    <dd th:each="menu,Stat : ${module.children}">
                        <a th:href="${'main?page='+menu.url}"
                           th:text="${menu.name}">二级菜单</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
</html>