<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<div class="layui-body">
    <div class="page-title-box">
        <h4 class="page-title">用户管理</h4>
        <div class="clearfix"></div>
    </div>
    <div class="BM-com clearfix">
        <div class="row-fluid BM-box-t0">
            <div class="layui-tab layui-tab-brief" lay-filter="tabs">
                <ul class="layui-tab-title">
                    <li th:class="${Stat.first?'layui-this':''}" th:each="tab,Stat : ${tabs}"
                        th:text="${tab.name}" th:attr="lay-id=${tab.url}"> 选项卡
                    </li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item" th:classappend="${Stat.first?'layui-show':''}"
                         th:each="tab,Stat : ${tabs}">
                        <div class="functionalArea">
                            <div class="functionalButton">
                                <button class="layui-btn layui-btn-sm layui-btn-normal" th:classappend="${function.url}"
                                        th:each="function,Stat : ${func}"
                                        th:if="${tab.id == function.parentId}"
                                        th:attr="data-type=${function.url}"
                                        th:text="${function.name}">功能按钮
                                </button>
                            </div>
                        </div>
                        <div th:if="${tab.url=='user'}" th:replace="user/user"></div>
                        <div th:if="${tab.url=='role'}" th:replace="user/role"></div>
                        <div th:if="${tab.url=='permission'}" th:replace="user/permission"></div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form th:id="userForm" action="" class="layui-form" style="margin:30px 50px 0px 0px; display: none">
    <div class=" layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="username" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="text" name="password" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-submit lay-filter="userFormSubmit">立即提交</button>
        </div>
    </div>
</form>

<form th:id="permissionAddForm" action="" class="layui-form" style="margin:30px 50px 0px 0px; display: none">
    <div class=" layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">资源名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">url</label>
            <div class="layui-input-inline">
                <input type="text" name="url" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <input type="hidden" name="pid" autocomplete="off" class="layui-input">
    <input type="hidden" name="permissionType" autocomplete="off" class="layui-input">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-submit lay-filter="permissionAddFormSubmit">立即提交</button>
        </div>
    </div>
</form>

<form th:id="permissionUpdateForm" action="" class="layui-form" style="margin:30px 50px 0px 0px; display: none">
    <div class=" layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">资源名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">url</label>
            <div class="layui-input-inline">
                <input type="text" name="url" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <input type="hidden" name="id" autocomplete="off" class="layui-input">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-submit lay-filter="permissionUpdateFormSubmit">立即提交</button>
        </div>
    </div>
</form>

<form th:id="grantPermissionForm" action="" class="layui-form" style="margin:30px 50px 0px 0px; display: none">
    <div class="form-group">
        <label class="col-sm-3 control-label">菜单权限：</label>
        <div class="col-sm-8">
            <div id="grantTable"></div>
        </div>
    </div>
    <input type="hidden" name="id" autocomplete="off" class="layui-input">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-submit lay-filter="grantPermissionFormSubmit">立即提交</button>
        </div>
    </div>
</form>