<!--suppress ThymeleafVariablesResolveInspection -->
<html th:if="${tab.url == 'role'}" xmlns:th="http://www.thymeleaf.org">
<!--user-->
<div id="user">
    <div class="inSearch">
        <div class="allSearch">
            <div class="layui-inline">
                <input name="name" required="" lay-verify="required"
                       placeholder="角色名称" autocomplete="off" class="layui-input input-qu">
            </div>
        </div>
        <div class="layui-input-inline right">
            <button class="layui-btn layui-btn-sm layui-btn-primary" data-type="userReload">查询
            </button>
        </div>
    </div>
</div>
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="enabled" value="{{d.id}}" lay-skin="switch" lay-text="是|否"
           lay-filter="grantBtn" {{ d.enabled ? 'checked' : ''}} />
</script>
<table class="page-table" th:id="${tab.url}" th:attr="lay-filter=${tab.url}"></table>

<script>
    layui.use(['table', 'jquery', 'form'], function () {
        var table = layui.table;
        var $ = layui.jquery;
        var form = layui.form;

        //方法级渲染
        table.render({
            id: 'role'
            , elem: '#role'
            , url: '/role/page'
            , cols: [
                [
                    {type: 'radio'}
                    , {field: 'id', title: 'ID', width: 80}
                    , {field: 'name', title: '角色名称', width: 80}
                    , {field: 'description', title: '角色描述', width: 80}
                ]
            ]
            , page: true
            , height: 570
        });

        var active = {
            userReload: function () {
                //执行重载
                table.reload('user', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        name: $("#user input[name='name']").val(),
                    }
                });
            },
            userAdd: function () {
                layer.open({
                    type: 1
                    , title: ['用户创建', 'font-size:18px;']
                    , closeBtn: 1
                    , area: ['450px', '300px']
                    , maxmin: true  //最大最小化
                    , id: 'LAY_layui_userForm' //设定一个id，防止重复弹出
                    , content: $('#userForm')
                    , resize: true
                    , shadeClose: true
                    // ,zIndex: layer.zIndex //重点1
                    // ,success: function(layero){
                    //     layer.setTop(layero); //重点2
                    // }
                });
            },
            grantPermission: function () {
                var checkStatus = table.checkStatus('role')
                    , data = checkStatus.data;
                console.log(data);
                $("#grantPermissionForm input[name='id']").val(data[0].id);
                table.render({
                    elem: '#grantTable'
                    , url: '/permission/getByRoleId'
                    , where: {id: data[0].id}
                    , width: 1200
                    , cols: [
                        [
                            {
                                field: 'id', title: '序号', width: 90, align: 'center'
                            }
                            , {field: 'name', title: '资源名', width: 90}
                            , {field: 'url', title: '访问地址', width: 90}
                            , {
                            field: 'type', width: 80, align: 'center', templet: function (d) {
                                if (d.type == 'MENU') {
                                    return '<span class="layui-badge layui-bg-green">菜单</span>';
                                } else if (d.type == 'FUNC') {
                                    return '<span class="layui-badge layui-bg-blue">功能</span>';
                                } else if (d.type == 'TABS') {
                                    return '<span class="layui-badge-rim">选项卡</span>';
                                }
                            }, title: '类型'
                        }, {field: 'enabled', title: '授权', width: 85, templet: '#switchTpl'}
                        ]
                    ]
                    , page: false
                    , done: function (res, curr, count) {
                        this.elem.next().find("tr").dblclick(function (e) {
                            $(this).find('.layui-form-checkbox').click();
                        });
                    }
                });
                layer.open({
                    type: 1
                    , title: ['权限分配', 'font-size:18px;']
                    , closeBtn: 1
                    , area: ['750px', '500px']
                    , maxmin: true  //最大最小化
                    , id: 'LAY_layui_grantPermissionForm' //设定一个id，防止重复弹出
                    , content: $('#grantPermissionForm')
                    , resize: true
                    , shadeClose: true
                    , maxmin: true
                });
            }
        };
        form.on("submit(userFormSubmit)", function (data) {
            $.ajax({
                url: '/user/add',
                method: 'POST',
                data: data.field,
                success: function (data) {
                    if (data.code >= 0) {
                        layer.closeAll();
                        table.reload('user');
                        layer.msg(data.msg, {time: 1000});
                    } else {
                        layer.msg(data.msg);
                    }
                }
            });
            return false;
        });

        form.on('switch(grantBtn)', function (obj) {
            $.ajax({
                url: '/permission/grant',
                data: {
                    roleId: $("#grantPermissionForm input[name='id']").val(),
                    enabled: obj.elem.checked,
                    permissionId: this.value
                },
                success: function (res) {
                    if (res.code >= 0) {
                        layer.tips('已' + (obj.elem.checked ? '' : '取消') + '授权',
                            obj.othis, {zIndex: layer.zIndex});
                    } else {
                        layer.msg(res.msg, {zIndex: layer.zIndex})
                    }
                }
            });
        });

        $('.layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>