<!--suppress ThymeleafVariablesResolveInspection -->
<html th:if="${tab.url == 'role'}" xmlns:th="http://www.thymeleaf.org">

<div id="user" >
    <div class="inSearch">
        <div class="allSearch">
            <div class="layui-inline">
                <input name="name" required="" lay-verify="required"
                       placeholder="角色名称" autocomplete="off" class="layui-input input-qu">
            </div>
        </div>
        <div class="layui-input-inline right">
            <button class="layui-btn layui-btn-sm layui-btn-primary" data-type="userReload">查询
            </button>
        </div>
    </div>
</div>
<table class="page-table" th:id="${tab.url}" th:attr="lay-filter=${tab.url}"></table>

<script>
    layui.use(['table', 'jquery','form'], function () {
        var table = layui.table;
        var $ = layui.jquery;
        var form = layui.form;

        //方法级渲染
        table.render({
            id: 'role'
            , elem: '#role'
            , url: '/passport/role/page'
            , cols: [
                [
                    {checkbox: true, fixed: true}
                    , {field: 'id', title: 'ID', width: 80}
                    , {field: 'name', title: '角色名称', width: 80}
                    , {field: 'description', title: '角色描述', width: 80}
                ]
            ]
            , page: true
            , height: 570
        });

        var active = {
            userReload: function () {
                //执行重载
                table.reload('user', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        name: $("#user input[name='name']").val(),
                    }
                });
            },
            userAdd: function () {
                layer.open({
                    type: 1
                    , title: ['用户创建', 'font-size:18px;']
                    , closeBtn: 1
                    , area: ['450px', '300px']
                    , maxmin: true  //最大最小化
                    , id: 'LAY_layui_userForm' //设定一个id，防止重复弹出
                    , content: $('#userForm')
                    , resize: true
                    , shadeClose: true
                    // ,zIndex: layer.zIndex //重点1
                    // ,success: function(layero){
                    //     layer.setTop(layero); //重点2
                    // }
                });
            }
        };
        form.on("submit(userFormSubmit)",function (data) {
            $.ajax({
                url:'/passport/user/add',
                method:'POST',
                data:data.field,
                success:function (data) {
                    if (data.code>=0){
                        layer.closeAll();
                        table.reload('user');
                        layer.msg(data.msg,{time:1000});
                    }else {
                        layer.msg(data.msg);
                    }
                }
            });
            return false;
        });

        $('.layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>