<!--suppress ThymeleafVariablesResolveInspection -->
<html th:if="${tab.url == 'user'}" xmlns:th="http://www.thymeleaf.org">

<div id="user">
    <div class="inSearch">
        <div class="allSearch">
            <div class="layui-inline">
                <input name="name" required="" lay-verify="required"
                       placeholder="用户名称" autocomplete="off" class="layui-input input-qu">
            </div>
        </div>
        <div class="layui-input-inline right">
            <button class="layui-btn layui-btn-sm layui-btn-primary" data-type="userReload">查询
            </button>
        </div>
    </div>
</div>
<script type="text/html" id="switchTplRole">
    <input type="checkbox" name="enabled" value="{{d.id}}" lay-skin="switch" lay-text="是|否"
           lay-filter="grantBtnRole" {{ d.enabled ? 'checked' : ''}} />
</script>
<table class="page-table" th:id="${tab.url}" th:attr="lay-filter=${tab.url}"></table>

<script>
    layui.use(['table', 'jquery', 'form'], function () {
        var table = layui.table;
        var $ = layui.jquery;
        var form = layui.form;

        //方法级渲染
        table.render({
            id: 'user'
            , elem: '#user'
            , url: '/passport/user/page'
            , cols: [
                [
                    {checkbox: true, fixed: true}
                    , {field: 'id', title: 'ID', width: 80}
                    , {field: 'username', title: '用户名', width: 80}
                    , {field: 'name', title: '用户名称', width: 80}
                ]
            ]
            , page: true
            , height: 570
        });

        var active = {
            userReload: function () {
                //执行重载
                table.reload('user', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        name: $("#user input[name='name']").val(),
                    }
                });
            },
            userAdd: function () {
                layer.open({
                    type: 1
                    , title: ['用户创建', 'font-size:18px;']
                    , closeBtn: 1
                    , area: ['450px', '300px']
                    , maxmin: true  //最大最小化
                    , id: 'LAY_layui_userForm' //设定一个id，防止重复弹出
                    , content: $('#userForm')
                    , resize: true
                    , shadeClose: true
                    // ,zIndex: layer.zIndex //重点1
                    // ,success: function(layero){
                    //     layer.setTop(layero); //重点2
                    // }
                });
            },
            grantRole: function () {
                var checkStatus = table.checkStatus('user')
                    , data = checkStatus.data;
                if (data.length === 1) {
                    $("#grantRoleForm input[name='id']").val(data[0].id);
                    table.render({
                        elem: '#grantRoleTable'
                        , url: '/passport/role/getByUserId'
                        , where: {id: data[0].id}
                        , width: 1200
                        , cols: [
                            [
                                {
                                    field: 'id', title: '序号', width: 90, align: 'center'
                                }
                                , {field: 'name', title: '角色名', width: 90}
                                , {field: 'description', title: '描述', width: 90}
                                , {field: 'enabled', title: '授权', width: 85, templet: '#switchTplRole'}
                            ]
                        ]
                        , page: false
                        , done: function (res, curr, count) {
                            this.elem.next().find("tr").dblclick(function (e) {
                                $(this).find('.layui-form-checkbox').click();
                            });
                        }
                    });
                    layer.open({
                        type: 1
                        , title: ['角色分配', 'font-size:18px;']
                        , closeBtn: 1
                        , area: ['750px', '500px']
                        , maxmin: true  //最大最小化
                        , id: 'LAY_layui_grantRoleForm' //设定一个id，防止重复弹出
                        , content: $('#grantRoleForm')
                        , resize: true
                        , shadeClose: true
                        , maxmin: true
                    });
                } else {
                    layer.msg("只能选择一项", {time: 2000});
                }
            }
        };
        form.on("submit(userFormSubmit)", function (data) {
            $.ajax({
                url: '/passport/user/add',
                method: 'POST',
                data: data.field,
                success: function (data) {
                    if (data.code >= 0) {
                        layer.closeAll();
                        table.reload('user');
                        layer.msg(data.msg, {time: 1000});
                    } else {
                        layer.msg(data.msg);
                    }
                }
            });
            return false;
        });
        form.on('switch(grantBtnRole)', function (obj) {
            $.ajax({
                url: '/passport/role/grant',
                data: {
                    userId: $("#grantRoleForm input[name='id']").val(),
                    enabled: obj.elem.checked,
                    roleId: this.value
                },
                success: function (res) {
                    if (res.code >= 0) {
                        layer.tips('已' + (obj.elem.checked ? '' : '取消') + '授权',
                            obj.othis,{zIndex: layer.zIndex});
                    } else {
                        layer.msg(res.msg, {zIndex: layer.zIndex})
                    }
                }
            });
        });

        $('.layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>