<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p class="bg-info">我啊啊啊啊啊</p>
</div>
<div sec:authorize="hasRole('ROLE_HOME')">
    <p class="bg-info">恭喜您,您有 ROLE_homepage 权限 </p>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')"> <!-- 用户类型为ROLE_ADMIN 显示 -->
    <p class="bg-info">恭喜您,您有 ROLE_ADMIN 权限 </p>
</div>
</body>
</html>